    /* 
	Arquivo CSS geral com estilos dos elementos de todas páginas 
*/
    
    * {
        box-sizing: border-box;
    }
    
    html {
        margin: 0;
        padding: 0;
        font-size: 62.5%;
        /* equivalente a 10px */
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    body {
        background-color: #F0F2F2;
    }
    
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.8rem;
    }
    
    form {
        background: #eee;
        padding: 10px;
    }
    
    form div {
        background: #fff;
        border-bottom: 1px solid #33f;
        margin: 1rem;
        padding: 2rem;
    }
    
    label {
        margin-bottom: 1rem;
        font-size: 1.4rem;
        font-family: sans-serif;
        font-weight: bold;
        color: #66F;
    }
    
    input {
        padding: 1rem;
    }
    
    [type="text"],
    [type="email"],
    textarea,
    label {
        display: block;
        width: 100%;
    }
    
    header {
        background-color: #403C3B;
        padding: 30px;
        text-align: left;
        font-size: 35px;
        color: white;
    }
    
    nav {
        /*background-color: tomato;*/
        float: left;
        /* muda a regra de quebra de linha */
        width: 30%;
        padding: 20px;
    }
    
    nav ul {
        list-style-type: none;
        padding: 0;
    }
    
    nav li {
        line-height: 1.5em;
    }
    
    nav li a {
        text-decoration: none;
        color: #7EBCF2;
    }
    
    nav li a:hover {
        color: #F24B4B;
    }
    
    article {
        /* background-color: yellow; */
        float: left;
        padding: 20px;
        width: 70%;
    }
    
    section::after {
        content: "";
        display: table;
        clear: both;
    }
    
    footer {
        background-color: #403C3B;
        padding: 10px;
        text-align: center;
        color: white;
    }
    
    .coluna-video {
        display: block;
        width: 45%;
        height: auto;
        float: left;
        padding: 20px;
    }
    
    .coluna-grafico {
        display: block;
        width: 100%;
        float: left;
    }
    
    .c-3 {
        display: block;
        width: 100%;
        float: left;
    }
    
    .coluna-iframe {
        margin: 0px auto;
        width: 100%;
    }
    
    .coluna-3 {
        columns: 100px 2;
        width: 50%;
    }
    
    .coluna-100w {
        width: 100%;
    }
    
    iframe {
        width: 100%;
    }
    /* Tablet */
    
    @media (max-width: 768px) {
        nav,
        article,
        .coluna {
            width: 100%;
        }
        nav {
            background-color: #F24B4B;
        }
        li a {
            color: white !important;
        }
        .coluna-video {
            width: 100%;
        }
    }
    /* Smartphone */
    
    @media (max-width: 425px) {
        nav,
        article,
        .coluna {
            width: 100%;
        }
        nav {
            background-color: #7C748C;
        }
        li a {
            color: white !important;
        }
        .coluna-video {
            width: 100%;
        }
    }
    
    @media (max-width: 375px) {
        nav,
        article,
        .coluna {
            width: 100%;
        }
        nav {
            background-color: #7EBCF2;
        }
        li a {
            color: white !important;
        }
        .coluna-video {
            width: 100%;
        }
    }
    
    @media (max-width: 320px) {
        nav,
        article,
        .coluna {
            width: 100%;
        }
        nav {
            background-color: #F27777;
        }
        li a {
            color: white !important;
        }
        .coluna-video {
            width: 100%;
        }
    }