* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font-family: 'Rajdhani', sans-serif;
	font-size: 62.5%;
	word-spacing: 0.5em;
}

body {
	background-color: white;
}

/* Style the header */

header {
	background-color: #00010D;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	

}

h1, h2, .foo, {
	color: white;
}

h2, .contado, .tab {
	font-size:  2rem;
	height: 3rem;
}


p, .ordenada, .definicao {
	font-size: 1.6rem;
	color: #070707;
	line-height: 1.4em;
}

.lorem {
	font-size: 2rem;
	color: #070707;
}

article {
	float: left;
	padding: 20px;
	width: 70%;
	background-color: #D2D5D9;
}

/* Create two columns/boxes that floats next to each other */
nav {
	float: left;
	width: 30%;
	background: #7B848C;
	padding: 20px;
}

/* Style the list inside the menu */
nav ul {
	list-style-type: none;
	padding: 0;
}


ul li {
	font-size: 1.5rem;
	width: 80%; 
}

.aulas, .redes {
	font-size: 1.5rem;
	color: white;
}

a {
	color: #663F8C;
	text-decoration: none;
}

a:hover {
	color: white;
}



/* Clear floats after the columns */
section::after {
	background: #5E9FF2;
	content: "";
	display: table;
	clear: both;
}


/* Style the footer */
footer {
	background-color: #0D0D0D;
	padding: 10px;
	text-align: center;
}

/* FORM */

form div {
	padding: 1rem;
}

label {
	margin-bottom: 1rem;
	font-size: 1.4rem;
}

[type="text"], [type="email"], textarea, label {
	display: block;
	width: 25%;
}

input {
	font-size: 120%;
	border: 1px solid #663F8C;
	border-radius: 15px;
	padding: 5px 5px 5px 30px;
}

input:focus{
	color: #663F8C;
}

[type="submit"] {
	padding: 5px;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
	nav, article {
		width: 100%;
		height: auto;
	}

